# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Distribution / packaging
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Virtual environments
.venv/
venv/
env/
ENV/

# Tests / coverage
.tox/
.nox/
.coverage
.coverage.*
.cache
.pytest_cache/
htmlcov/
coverage.xml
*.cover

# Tools
.ruff_cache/
.mypy_cache/
.pyright/

# IDE
.idea/
.vscode/
*.swp
.DS_Store

# Env
.env
.env.*
!.env.example
